# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.docker

# Python cache
.pytest_cache/

scripts/

sample_documents/